.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: url("/assets/images/vueling.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .error-404 {
    font-weight: bold;
    margin-bottom: 10rem;
  }

  h1 {
    color: #fbc900;
    font-size: 4rem;
  }

  .btn {
    margin-top: 1rem;
  }

  .vueling:before {
    content: "flying";
    animation-name: replacement;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: absolute;
  }

  @keyframes replacement {
    0% {
      content: "vueling";
    }
    50% {
      content: "flight";
    }
    75% {
      content: "vueling";
    }
    100% {
      content: "flight";
    }
  }
}
