<div class="button" id="div40">
  <button class="btn-goBack ml-auto" id="btn5" (click)="navigation.goBack()">
    {{ "ATRAS" | translate }}
  </button>
</div>
<h2 class="mb-4 text-center" id="h2-3">
  {{ "TRAYECTORIA-TITULO" | translate }}
</h2>
<table class="table table-bordered" id="table1">
  <thead>
    <tr id="tr1">
      <th id="th1">{{ "TEMPORADA" | translate }}</th>
      <th id="th2">{{ "CLUB" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let season of player.seasons" id="tr2">
      <td id="td1">{{ season.year }}</td>
      <td id="td2">
        <img
          [src]="'../assets/logos/' + season.club.logo"
          [alt]="season.club.name"
          width="50"
          id="img3"
        />
        <span class="club-tittle" id="span1">{{ season.club.name }}</span>
      </td>
    </tr>
  </tbody>
</table>
