.main-container {
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 0 1rem;
}

.section-title {
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #1c1f26;
  border-color: #1c1f26;
  font-weight: bold;
}
