<div id="div26">
  <button class="btn-goBack ml-auto" id="btn3" (click)="navigation.goBack()">
    {{ "ATRAS" | translate }}
  </button>
</div>
<div class="row" id="div27">
  <div class="col-12 text-center" id="div28">
    <h2 class="section-title" id="h2-2">{{ "JUGADAS" | translate }}</h2>
  </div>
</div>
<div class="row" id="div29">
  <div class="col-12 col-md-6" id="div30">
    <div class="embed-responsive embed-responsive-16by9 mb-4" id="div31">
      <iframe
        class="embed-responsive-item"
        id="iframe1"
        [src]="getSafeUrl(player.video1)"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="col-12 col-md-6" id="div32">
    <div class="embed-responsive embed-responsive-16by9 mb-4" id="div33">
      <iframe
        class="embed-responsive-item"
        id="iframe2"
        [src]="getSafeUrl(player.video2)"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="col-12 col-md-6" id="div34">
    <div class="embed-responsive embed-responsive-16by9 mb-4" id="div35">
      <iframe
        class="embed-responsive-item"
        id="iframe3"
        [src]="getSafeUrl(player.video3)"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="col-12 col-md-6" id="div36">
    <div class="embed-responsive embed-responsive-16by9 mb-4" id="div37">
      <iframe
        class="embed-responsive-item"
        id="iframe4"
        [src]="getSafeUrl(player.video4)"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div class="row mt-5" id="div38">
  <div class="col text-center" id="div39">
    <button class="btn btn-primary" id="btn4" (click)="goToPlayerCareer()">
      {{ "TRAYECTORIA" | translate }}
    </button>
  </div>
</div>
