@import "../../../mixins";

.section-title {
  margin-bottom: 2rem;
}

.btn-goBack,
.btn-primary {
  @include button-style(#1c1f26, #1c1f26, white);
}

@include respond-to(xs, sm) {
  .btn-primary {
    margin-bottom: 2rem;
  }
  .btn-goBack {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
