.section-title {
  margin-bottom: 2rem;
}

.btn-goBack {
  background-color: #1c1f26;
  border-color: #1c1f26;
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: #1c1f26;
  border-color: #1c1f26;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .btn-primary {
    margin-bottom: 2rem;
  }
  .btn-goBack {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
